@media (max-width: 1300px) {
    .product_more {
        margin-top: 60px;
    }
}

@media (max-width: 1200px) {
    .banner-section_slider-img {
        min-height: 380px;
        max-width: 600px;
    }
    .banner-section_inner {
        justify-content: space-around;
    }
    .banner-section_slider {
        max-width: 600px;
    }
    .categories_inner {
        justify-content: space-around;
    }
    .banner_link img  {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .menu_item + .menu_item {
        padding-left: 20px;
    }
    .header_adress {
        margin-right: 20px;
    }

}

@media (max-width: 968px) {
    .header_bottom{
        display: none;
    }
    .menu_list {
        display: none;
    }
    .menu_btn {
        display: block;
        background-color: transparent;
        cursor: pointer;
        border: none;
        padding: 0;
    }
    .menu_btn-line{
        background: #2F3035;
        border-radius: 3px;
        height: 3px;
        width: 34px;
        margin: 8px 0;
    }
    .menu_mobile-linewrapper {
        display: block;
        font-size: 20px;
        line-height: 24px;
        background: #F0F0F4;
        font-weight: bold;
        font-family: 'SFProDisplay-Bold', sans-serif;
        overflow-x: scroll;
    }
    .menu_mobile-line {
        padding: 14px 0 14px 15px;
        width: 450px;
    }
    .banner-section_inner {
        margin-top: 25px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .banner-section_slider_item {
        text-align: center;
    }
    .banner-section_slider {
        max-width: 100%;
    }
    .banner-section_slider-img {
        max-width: 100%;
        margin-bottom: 25px;
    }
    .mobile-overflow {
        width: 1000px;
    }
    .tabs-wrapper {
        overflow-x: scroll;
    }
}

@media (max-width: 940px) {
    .footer_top_inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer_top-item {
        margin-bottom: 25px;
    }
}

@media (max-width: 640px) {
    .header_adress {
        display: none;
    }
    .banner-section_slider-img {
        min-height: 200px;
    }
    .banner-section .container {
        padding: 0;
    }
    .search_content-btn {
        font-size: 0;
        line-height: 0;
        text-transform: uppercase;
        background-image: url("../img/svg/search.svg");
        background-color: transparent;
        width: 24px;
        height: 24px;
        padding: 17px;
        background-repeat: no-repeat;
        outline: none;
        position: absolute;
        right: 8px;
        top: 13px;
    }
    .search_content-input {
        height: 50px;
        padding-right: 50px;
    }
    .search_content-form {
        position: relative;
    }
    .banner_link img  {
       min-height: 90px;
       object-fit: contain;
    }
}

@media (max-width: 540px) {
    .footer_top-item {
        width: 100%;
    }
    .footer_bottom {
        flex-direction: column;
        align-items: start;
    }
    .footer_bottom-link {
        margin: 12px 0;
    }
    .footer_top-item {
        justify-content: start;
    }
    .footer_top-social.footer_top-item {
        width: 100%;
    }
    .footer_top-item.footer_top-newslatter {
        width: 290px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }
    .social-list {
        justify-content: center;
    }
    .footer-list {
        display: none;
    }
    .footer_top-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #7F7F7F;
        padding: 15px 0;
        border-radius: 2px solid #F0F0F4;
    }
}

@media (max-width: 440px) {
    .banner-section_slider-img {
        min-height: 164px;
    }
    .categories_item {
        padding: 20px 10px 16px;
    }
}